*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--base-font-size);
}

h1 {
  font-size: 3em;
  flex: 1 0 100%;
}

:host > * {
  padding: 1rem;
}

section {
  flex: 1;
}
