*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --base-font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--base-font-size);
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
}

techshow-app {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

main > * {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
